<p id="notice"><%= notice %></p>

<h1>Listing Csv Document Import Rows</h1>

<table>
  <thead>
    <tr>
      <th>url</th>
      <th>title</th>
      <th>description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @document_import_rows.each do |document_import_row| %>
      <tr>
        <td><%= document_import_row.content['url'] %></td>
        <td><%= document_import_row.content['title'] %></td>
        <td><%= document_import_row.content['description'] %></td>
        <td><%= link_to 'Show', document_import_document_import_row_path(@document_import, document_import_row) %></td>
        <td><%= link_to 'Edit', edit_document_import_document_import_row_path(@document_import, document_import_row) %></td>
        <td><%= link_to 'Destroy', document_import_document_import_row_path(@document_import, document_import_row), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Csv document import row', new_document_import_document_import_row_path(@document_import) %>
<br>
<%= link_to t('.publish'), publish_document_import_path(@document_import), method: :post, data: { confirm: 'Are you sure?' } %>
