<p id="notice"><%= notice %></p>

<h1>Listing Csv Document Import Rows</h1>

<table>
  <thead>
    <tr>
      <th>url</th>
      <th>title</th>
      <th>description</th>
    </tr>
  </thead>

  <tbody>
    <% @rows.each do |document_import_row| %>
      <tr>
        <td><%= document_import_row.content['url'] %></td>
        <td><%= document_import_row.content['title'] %></td>
        <td><%= document_import_row.content['description'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @rows %>

<%= link_to t('ui.publish'), publish_document_import_path(@document_import), method: :post, data: { confirm: 'Are you sure?' } %>
