<p id="notice"><%= notice %></p>

<h1>Listing Documents</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Grades</th>
      <th>Publishers</th>
      <th>Languages</th>
      <th>Resource Types</th>
      <th>Standards</th>
      <th>Subjects</th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.title %></td>
        <td><%= document.description %></td>
        <td><%= document.grades.pluck(:name).join(',') %></td>
        <td><%= document.publishers.pluck(:name).join(',') %></td>
        <td><%= document.languages.pluck(:name).join(',') %></td>
        <td><%= document.resource_types.pluck(:name).join(',') %></td>
        <td><%= document.standards.pluck(:name).join(',') %></td>
        <td><%= document.subjects.pluck(:name).join(',') %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<%= paginate @documents %>

